@use '../../scss/global/colors' as colors;
@use '../../scss/utils/functions' as fn;
@import '../..//scss/utils/mixins';

.footer {
  padding: 1.5rem 0;
  max-width: 100vw;
  background-color: colors.$grayish-dark-blue;

  .footer_wrapper {
    max-width: 80vw;
    margin: 0 auto;
    @include flex_spaceBetween;

    .footer_links {
      @include flex_align;
      gap: fn.rem(48);

      ul {
        gap: fn.rem(43);
        @include flex_align;

        a {
          color: colors.$very-light-grey;
          font-size: fn.rem(12);
          transition: all 0.3s ease-in-out;

          &:hover {
            color: colors.$cyan;
            transform: scale(1.05);
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }

    .footer_socials {
      @include flex_align;
      gap: 1rem;

      img {
        cursor: pointer;
      }
    }
  }
}
