@use '../../sass//utils/functions' as fn;
@use '../../sass/global/colors' as color;
@import '../../sass/utils/mixins';
@import '../../sass/utils/breakpoints';

.footer_container {
  @include flex_justifyBetween;
  max-width: 80rem;
  margin: 5.5rem auto;
  padding: 2.94rem 5.31rem;
  background-color: #2c343e;

  .footer_nav {
    @include flex_justifyBetween;
    gap: 6.43rem;

    .nav {
      @include flex_centered;
      gap: 2rem;
      flex: 70%;

      a {
        color: color.$grey;
        font-family: 'Barlow';
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.9375rem; /* 125% */
        letter-spacing: 0.05769rem;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  .socials {
    @include flex;
    gap: 2rem;
  }
}
