.card_container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  padding-bottom: 46px;

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .card_details {
    padding: 0 1.5rem;

    h2 {
      font-size: 1.1rem;
      margin: 1.5rem 0 1rem;
      font-weight: 800;
    }

    p {
      font-weight: 300;
      margin-bottom: 0.2rem;
      strong {
        font-weight: 600;
      }
    }
  }
}
