//Shades of Black
$black: #050505;
$dark: #1f1f1f;
$light-dark: #2d2d2d;
$lighter-dark: #3a3a3a;

//Shades of Grey
$grey: #757575;
$light-grey: #e9e9e9;
$lighter-grey: #f4f4f4;

//Secondary
$purple: #a445ed;
$red: #ff5252;
