@use '../../sass/global/colors.scss' as colors;

.skillContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  row-gap: 3.6rem;
  position: relative;
  margin-top: 3rem;

  h2 {
    font-size: 3rem;
  }

  p {
    color: colors.$light-grey;
    margin-top: 0.9rem;
  }

  img {
    position: absolute;
    bottom: -3.5rem;
    right: -18rem;
    transform: rotate(180deg);
  }
}

.skillContainer::after {
  content: '';
  position: absolute;
  top: -4rem;
  left: 0;
  background-color: colors.$white;
  height: 1px;
  width: 75vw;
}
