@use '../../sass/global/colors' as color;
@import '../../sass/utils/mixins';
@import '../../sass/utils/breakpoints';

header {
  background-color: color.$dark;
  position: sticky;
  top: 0;
  z-index: 1;

  .desktop_nav {
    @include flex_justifyBetween;
    max-width: 69.36456rem;
    padding: 2rem 0;
    margin: 0 auto;
    flex-shrink: 0;
    border-bottom: 1px solid #ffffff4d;
    //

    nav {
      display: inline-flex;
      padding-right: 0px;
      justify-content: center;
      align-items: flex-start;
      gap: 2.125rem;
      a {
        color: #fff;
        font-family: Manrope;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5625rem; /* 192.308% */
        letter-spacing: 0.125rem;
        text-transform: uppercase;
        transition: all 0.3s ease-in;

        &:hover {
          color: color.$orange;
        }
      }
    }

    .cart {
      position: relative;
      cursor: pointer;
      .count {
        @include flex_centered;
        height: 1.5rem;
        width: 1.5rem;
        background-color: color.$orange;
        color: color.$white;
        border-radius: 50%;
        position: absolute;
        top: -1rem;
        left: 0.7rem;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }
}
