@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ibarra Real Nova', serif;
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Public Sans', sans-serif;
}

img {
  max-width: 100%;
}
