.search_container {
  margin: 3rem 0;

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      display: flex;
      align-items: center;
      width: 460px;
      padding: 0 2rem;
      background-color: #fff;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
      border-radius: 5px;

      @media (max-width: 770px) {
        & {
          width: 100%;
        }
      }
      input {
        width: 100%;
        border: none;
        padding: 1.2rem 2rem;

        &:focus {
          outline: none;
          border: none;
        }
      }
    }

    @media (max-width: 770px) {
      & {
        display: block;
        margin-top: 2.5rem;
      }
    }

    select {
      padding: 1.1rem 1.5rem;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);

      &:focus {
        outline: none;
        border: none;
      }
      @media (max-width: 770px) {
        & {
          display: block;
          margin-top: 2.5rem;
        }
      }
      option {
        color: #111517;
        font-size: 0.9rem;
      }
    }
  }
}
