.wrapper {
  background-color: #ffffff;
  padding: 2rem 80px;
  min-height: 100vh;

  @media (max-width: 770px) {
    & {
      padding: 2rem;
    }
  }

  .country_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
      width: 35rem;
      height: 401px;

      @media (max-width: 770px) {
        & {
          width: 320px;
          height: 229px;
        }
      }
    }

    .country_card_details {
      @media (max-width: 770px) {
        & {
          margin-top: 2.8rem;
        }
      }
      h2 {
        margin-bottom: 1.5rem;
      }
      .card_sub_details {
        flex: 0.6;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 141px;
        @media (max-width: 770px) {
          & {
            flex-direction: column;
            justify-content: flex-start;
            gap: 2rem;
          }
        }

        p {
          margin-top: 0.6rem;
        }
      }

      .border,
      .border_list {
        display: flex;
        align-items: center;
      }

      .border {
        gap: 1rem;
        margin-top: 70px;
        @media (max-width: 770px) {
          & {
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
          }
        }
        .border_list {
          gap: 10px;
          p {
            font-weight: 300;
            font-size: 14px;
            line-height: 19px;
            color: #111517;
            background: #ffffff;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
            border-radius: 2px;
            padding: 5px 1.5rem;
          }
        }
      }
    }
  }

  button {
    margin: 2rem 0 3rem;
    padding: 1rem 2.5rem;
    border: none;
    display: flex;
    align-self: center;
    gap: 1rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: inherit;
    border-radius: 5px;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
