//Shades of Black
$black: #000000;
$dark: #191919;

//Shades of Grey
$light-grey: #f1f1f1;
$lighter-grey: #fafafa;
$white: #ffffff;

//Secondary
$orange: #d87d4a;
$light-orange: #fbaf85;
$red: #ff5252;
