@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', sans-serif;
}

.App {
  min-height: 100vh;
  background-color: #f6f8ff;
}

.dark {
  background-color: #141d2f;
}

.light {
  background-color: #f6f8ff;
}
