@use '../../scss/utils/functions' as fn;
@use '../../scss/global/colors' as colors;
@import '../../scss/utils/mixins';

.about_container {
  max-width: 80vw;
  margin: 0 auto fn.rem(150);
  @include flex_align;
  gap: fn.rem(150);
}
