@use '../../sass//utils/functions' as fn;
@use '../../sass/global/colors' as color;
@import '../../sass/utils/mixins';
@import '../../sass/utils/breakpoints';

.hero_container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 7.38rem 0 0 5.38rem;
  height: 37.5rem;
  border-radius: 0.625rem;
  background: url('../../assets/home/desktop/image-hero-coffeepress.jpg')
    no-repeat;
  object-fit: contain;

  h1 {
    color: color.$light-cream;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 4.5rem; /* 100% */
    margin-bottom: 2rem;
  }

  p {
    width: 27.1125rem;
    color: color.$light-cream;
    font-family: 'Barlow';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
    margin-bottom: 4rem;
    opacity: 0.8;
  }
}
