@use '../../sass//utils/functions' as fn;
@use '../../sass/global/colors' as color;
@import '../../sass/utils/mixins';
@import '../../sass/utils/breakpoints';

.checkout_wrapper {
  //   position: relative;
  z-index: 1;
  left: 50%;
  .backdrop {
    width: 100vw;
    background-color: #000000;
    opacity: 0.4;
    height: 100vh;
    position: fixed;
    top: 5.5rem;
    right: 0;
    cursor: pointer;
  }

  .checkout_container {
    width: 23.5625rem;
    height: 30.5rem;
    flex-shrink: 0;
    background-color: color.$white;
    border-radius: 0.5rem;
    padding: 2rem 2.06rem;
    position: absolute;
    top: 8rem;
    left: 60%;
    z-index: 1;
    overflow: auto;

    .top {
      @include flex_justifyBetween;
      margin-bottom: 1.94rem;
      h2 {
        color: #000;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.08038rem;
        text-transform: uppercase;
      }

      p {
        color: #000;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5625rem; /* 166.667% */
        text-decoration-line: underline;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: color.$orange;
          letter-spacing: 1px;
        }
      }
    }

    .items {
      margin-bottom: 2.28rem;
      h2 {
        text-align: center;
      }
      .item_details {
        @include flex_justifyBetween;
        align-items: center;
        margin-bottom: 1.5rem;
        .item {
          @include flex;
          gap: 1rem;
          img {
            width: 4rem;
            height: 4rem;
            flex-shrink: 0;
            border-radius: 0.5rem;
          }
          .name {
            h3 {
              color: #000;
              font-size: 0.9375rem;
              font-style: normal;
              font-weight: 700;
              line-height: 1.5625rem; /* 166.667% */
            }

            p {
              color: #000;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 700;
              line-height: 1.5625rem; /* 178.571% */
              opacity: 0.5;
            }
          }
        }
        .control {
          @include flex_centered;
          gap: 1.5rem;
          background-color: color.$light-grey;
          width: 6rem;
          height: 2rem;
          flex-shrink: 0;
          @media (max-width: 770px) {
            & {
              padding: 0.5rem 1rem;
            }
          }

          button {
            color: #000;
            text-align: center;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.0625rem;
            text-transform: uppercase;
            opacity: 0.25;
            background-color: transparent;
            border: none;
            cursor: pointer;
            flex-shrink: 0;
          }

          span {
            color: #000;
            text-align: center;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.0625rem;
            text-transform: uppercase;
          }
        }
      }
    }
    .total {
      @include flex_justifyBetween;
      margin-bottom: 1.5rem;

      p {
        color: #000;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5625rem; /* 166.667% */
        text-transform: uppercase;
      }

      h5 {
        color: #000;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}
