.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-15rem);

  .center_details {
    width: 540px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h1 {
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 15px;
      margin-bottom: 3.6rem;
    }
  }
}
